.first {
	width: 700px;
	background: #fff;
	margin: auto;
	text-align: center;
}
.first > div, .first > .header > div, .first > .row > div  {
	border: 1px solid #aaa;
}
.first > .fio {
	text-align: center;
	font: bold 18px Verdana;
	padding: 7px 0;
	text-decoration: underline;
	
}
.first > .header > div {
	background: #fff;
	font-weight: bold;
	padding: 2px 3px;
}
.first > .row > div {
	padding: 2px 3px;
}