.repName {
    background-color: #eff8ff;
    border: 0 solid #ccc;
    border-bottom-width: 1px;
    font: normal 10pt Arial;
    padding: 4px 4px 4px 27px;
    text-indent: -24px;
    cursor: pointer;
    display: block;
}
.repName-sel {
    background-color: rgb(30, 144, 255);
    border-bottom-color: transparent;
    color: white;
}
